*
!local-channel/
!Docker/
!Pixi/

local-channel/*
!local-channel/.gitkeep
!local-channel/noarch/
!local-channel/linux-64/
!local-channel/noarch/**
!local-channel/linux-64/**

Docker/*
!Docker/builder-proxy.sh
!Docker/entrypoint.sh
!Docker/Dockerfile
!Docker/Dockerfile.flat

Pixi/*
!Pixi/pixi.toml
