*
!Docker/
!Pixi/

Docker/*
!Docker/builder-proxy.sh
!Docker/entrypoint.sh
!Docker/Dockerfile
!Docker/Dockerfile.flat
!Docker/local-channel/
!Docker/Recipes/

Docker/local-channel/*
!Docker/local-channel/.gitkeep
!Docker/local-channel/noarch/
!Docker/local-channel/linux-64/
!Docker/local-channel/noarch/**
!Docker/local-channel/linux-64/**

Pixi/*
!Pixi/pixi.toml
