[Unit]
Description=run_alas
After=network.target
Wants=network-online.target

[Service]
Type=simple
# 运行服务的用户与用户组（根据实际情况修改，使用 `id` 命令查询）
User=root
Group=root
# 脚本的绝对路径（根据实际情况修改，使用 `find / -name "run_alas.sh" 2>/dev/null` 命令查询）
ExecStart=/root/run_alas.sh

# 自动重启策略
Restart=on-failure
RestartSec=5s

Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
# 开机启动的运行级别，通用固定为multi-user.target
WantedBy=multi-user.target